/* GLOBAL STYLES */
p {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

/* NAVBAR STYLES */
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
 {
    color: #FFF;
    background-color: rgba(17,17,17,.5);
}
.navbar-default .navbar-nav>.active>a:hover {
    color: #F8512F;
}
.navbar-default .navbar-nav>li>a {
    color: #FFF;
    text-shadow: 1px 1px 2px #0a0a0a;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #F8512F;
    background-color: #e7e7e7;
}

/* BODY */
.container-fluid {
    padding: 0;
}

/* CAROUSEL */
.carousel-inner .item{
    height: 60vh;
    background-size: cover;
    background-position: center;
}
.carousel-caption {
    padding-bottom: 150px;
}

/* BUTTONS */
.btn-primary {
    color: #fff;
    background-color: #F8512F;
}
.btn-primary:hover {
    color: #f8512F;
    background-color: #e7e7e7;

}

/* SLIDES */
.first-slide {
    background-image: url('../img/wood-2.jpg');
}
.slide-logo {
    max-height: 300px;
}
.second-slide {
    background-image: url('../img/restaurant-2.jpg');
}
.third-slide {
    background-image: url('../img/farm-2.jpg');
}

/* OUR STORY STYLES */
#our_story {
    min-height: 600px;
    display: flex;
    align-items: center;
}
#our_story h1, #review h1, #menu h1{
    font-family: 'Lobster', cursive;
    color: #f8512f;
    font-size: 6em;
    text-shadow: 1px 1px 5px #0A0A0A;
}
#our_story h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 12em;
    color: rgba(149, 147, 147, 0.2);
    position: absolute;
    z-index: -1;
}
#our_story h3 {
    font-family: 'Raleway' sans-serif;
    font-weight: 700;
    font-size: 2em;
    margin-top: 10px;
}

/* QUOTE */
#review {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 600px;
    background-image: url(../img/food_review.jpg);
    background-size: cover;
    background-attachment: fixed;
}
#review p {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
    text-shadow: 1px 1px 5px #0A0A0A;
}
#review .container {
    background-color: rgba(20, 20, 20, .6);
    padding: 10px;
    border-radius: 5px;
}

/* MENU */
#menu {
    background-image: url(../img/black_linen.png);
    background-size: cover;
    min-height: 600px;
}
#menu h1 {
    color: white;
}
#menu a {
    color: #F8512F;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

#appetizer, #lunch, #dinner, #dessert{
    background-color: white;
    padding: 20px;
}
#appetizer h3 {
    text-align: center;
}
#appetizer p {
    text-align: justify;
}

/* CONTACT */
#contact {
    background-color: #F8512F;
    margin-top: 100px;
    padding-bottom: 50px;z
}
#contactform {
    background-color: #FF6633;
    padding: 20px;
    border: solid 1px white;
}
#contact p, h4 {
    color: white;
    font-family: 'Raleway', sans-serif;

}
#contact p {
    font-weight: 400;
}
#contact h4 {
    font-weight: 700;
}
#contact h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-shadow: none;
}
#contactform label {
    color: white;
}
